.my-container {
    margin: 75px;
}

.emojies {
font-size: 100px;
margin: 25px;
}

.safety-container {
    margin-left: auto;
  margin-right: auto;
  display: table;
}

.icon {
    margin: 10px;
}

.btn {
    margin: 25px
}

ul {
    text-align: left;
}