.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }

  .media-content p.title {
    font-size: 18px;
  }

  .media-content p.subtitle {
    font-size: 14px;
  }

  .star-container-clickable {
    cursor: pointer;
    color: gold;
  }


  .star-container-static {
    color: gold;
    font-size: 16px;
  }

  .star-rating {
    font-size: 11px;
    margin-top: 5px;
    color: black;
  }

  .card-content .content .title {
    margin-top: -5px;
    font-size: 16pt;
    margin-bottom: -2px;
  }

  .form, .post {
    padding: 15px;
    text-align: left;
  }

  .review-post.feed {
    padding: 5px;
    text-align: left;
  }


  .review-post.feed .content .location {
    margin-top: 5px;
  }

  .review-post.feed .rating {
    margin-top: -15px;
  }

  .review-section {
    background-color: rgba(42, 45, 52, 1);
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    margin-right: 15px;
  }

  .review-section h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-bottom: 5px;
  }

  .review-posts {
    max-height: 500px;
    overflow-y: scroll;
  }

  .review-button {
    color: white;
    padding: 10px;
    background-color: rgba(163, 124, 64, 1);
    float: left;
  }

  .review-comment-button {
    float: right;
    width: 100px;
  }

  .settings {
    text-align: left;
  }

  .settings label {
    text-align: right;
  }

  .total-comments {
    font-size: 11px;
    float: right;
    width: 110px;
    margin-top: 12px;
    
  }

  .add-comment {
    width: 142px;
    margin-left: auto;
    margin-top: 5px;
  }

  .add-comment button.is-link {
    background-color: rgb(36, 123, 160);
  }

  .add-comment button.is-link:hover {
    background-color: rgb(36, 123, 160);
  }

  .comments {
    text-align: left;
  }

  .comments .review-post .content .title {
    margin-top: 15px;
    font-size: 24px;
  }

  .comments .review-post .content .messageBody {
    padding-top: 5px;
    font-size: 14px;
  }

  .comments .review-post .content .location {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: -30px;
  }

  .comments label {
    text-align: right;
  }

  .comment-post {
    padding: 5px;
    text-align: left;
    width: 90%;
    margin-left: auto;
  }

  .comment-post .messageBody {
    font-size: 14px;
  }

  .img-link {
    margin-bottom: 15px;
  }

  .list {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 2px 2px 2px 10px;
  }

  .list .empty {
    color: #ccc;
  }

  .delete-icon {
    float: right;
    color: red;
    cursor: pointer;
    border: none;
    background-color: none;
    font-size: 14px;
    border-radius: 0 5px 5px 0;
  }

  .button.is-light {
    font-size: 15px;
    margin-right: 10px;
  }

  .error {
    color: red;
    font-size: 11px;
    font-weight: bold;
  }

  .form h2 {
    text-align: center;
    font-size: 24px;
  }

  .messageBody {
    font-size: 12px;
  }

  .content p time {
    font-size: 10px;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  


 