.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 30px;
  height: 30px;
}

.mapboxgl-popup-close-button {
  color: red;
}

.popup-card {
  margin: 11px;
  width: 18em;
}

.map {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
}
