/* EXS 27th July 2020 */
/* Our friends CSS file in case we want to add funky colours and stuff */

.name-text {
    width: 60%;
    text-align: left;
    margin-left: 25px;
}

.panel {
    background-color: white;
    margin: 25px 10px;
}

.icon {
    margin: 0;
}