/* EXS 27th July 2020 */
/* Our friends CSS file in case we want to add funky colours and stuff */

.action-button {
    float: right;
    width: 100px;
    color: green;
}

.name-text {
    width: 60%;
    text-align: left;
    margin-left: 25px;
}