/* EXS 27th 2020 - contacts page css file */

/* body just to ensure this is being executed */

.contactTitle {
  font-weight: bold;
  font-size: larger;
  /* color: violet; */
  vertical-align: middle;
}

.imageSize {
  width: 25px;
  height: 25px;
}